
<div class="container" width="100%">
    <div class="row">
      <div class="col-sm-10">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <button class="navbar-toggler"
              type="button"
              dara-toggle="collapse"
              data-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="home" ><img src="assets/smalllogo.png"  ></a>
           </li>
            <li class="nav-item">
             <a class="nav-link" routerLink="/home" style="font-size: 25px;">Home   &nbsp;  |</a>
            </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="../studentreg" style="font-size: 25px;">Login</a>
               </li>
          </ul>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="font-size: 25px;float: right;">
              <a class="nav-link" routerLink="../about" style="font-size: 25px;color: #a7a7a7">About   &nbsp;  |</a>
         </li>
            <li class="nav-item" style="font-size: 25px;float: right" > 
              <a class="nav-link" routerLink="../contactus" style="font-size: 25px;color: #a7a7a7">Contact Us</a>
             </li>
          </ul>
        </div>
        </div>
        </nav>
      </div>
     </div>
  </div>
