
<div class="bg-img">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br><br>
                <h1>About Us</h1>
            </div>
            <div class="col-sm-12">
                <div class="module-content">
                    <p>Master's Software Group has been providing e-Governance ERP system to Indian 
                        educational institutes/campuses over last 20+ years. We are India's most
                         trusted ERP (Enterprise Resource Planning) partner offering integrated 
                         solutions along with product portfolio built on the best practices followed 
                         by various institutes from across the country within the very Indian
                          Educational Framework. These offerings can easily be tailored according to the specific institute's standards and processes thereby extending help to overcome the IT operational challenges of educational institutions. We have distinct product offering for the respective segments of education systems right from school management to college management, post graduation and universities, as well as for deemed or open Universities. We have already been <em>trusted by more than 2000+ institutions including 50 MHRD governed and funded Institutions such as NITs, IIIT, central universities and major autonomous institutions.</em> Our commitment to Education Sector for the last two decades has been to provide an advance educational system with innovative technology programs that prepare students for the workplace and for life.</p>
                    <h3>Our Team:</h3>
                    <p>Our team consists of 200+ technically qualified and highly skilled professionals
                         who are expert in developing ERP solutions. The team is guided by a mentor panel
                          comprising of Academicians, Global IT Experts, Technology Architects and Process Consultants. We routinely conduct workshops and trainings for keeping pace with the latest advancements in technologies to implement the same in our offering and services.</p>
                    <br><br><br><br><br><br><br><br></div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
    
   
</div>