<app-header></app-header>
<div class="bg-img">
    <h1 style="font-size: 75px;color: whitesmoke;text-align: center;">Student Details</h1>
    <button class="btn btn-danger" routerLink="../studentreg" style="float: right;" (click)="loginpage()">Logout</button>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-2 form-group">
          <input type="text"
                 placeholder="DD/MM/YYYY"
                 class="form-control"
                 bsDatepicker>
        </div>
        <div class="col-xs-8 col-8 col-md-2 form-group">
            <button class="button" routerLink="../login"  (click)="login()">Display</button>
        </div>
      </div>
    <div class="container">
    
    <table>
        <tr>
            <th><u>Sl No</u></th>
            <th><u>USN</u></th>
            <th><u>Name</u></th>
            <th><u>Course</u></th>
            <th><u>Status</u></th>

        </tr>
        <br>
        <tr>
            <td>1</td>
            <td>4AI17CS001</td>
            <td>ABHIJITH B K</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>4AI17CS002</td>
            <td>ADIL MOSIN</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>4AI17CS003</td>
            <td>ADVITH M K</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>4AI17CS004</td>
            <td>AFNAN P G</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>4AI17CS005</td>
            <td>AISHIK R J</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>4AI17CS006</td>
            <td>AKASH M G</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>4AI17CS007</td>
            <td>JAMES BOND</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>4AI17CS008</td>
            <td>ALIYA R J</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>4AI17CS009</td>
            <td>AMITH S D</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td>4AI17CS010</td>
            <td>AMRUTHA H</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>11</td>
            <td>4AI17CS011</td>
            <td>ANJALI L B</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>12</td>
            <td>4AI17CS012</td>
            <td>ANUKUMAR N</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>13</td>
            <td>4AI17CS013</td>
            <td>ANUSHA D U</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>14</td>
            <td>4AI17CS014</td>
            <td>ANUSHA P</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>15</td>
            <td>4AI17CS015</td>
            <td>ANUSHREE N</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>16</td>
            <td>4AI17CS016</td>
            <td>ARJUN H</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>17</td>
            <td>4AI17CS017</td>
            <td>ARPITHA H R</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>18</td>
            <td>4AI17CS018</td>
            <td>AYESHA A</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>19</td>
            <td>4AI17CS019</td>
            <td>BARKATH S A</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad" ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        <tr>
            <td>20</td>
            <td>4AI17CS020</td>
            <td>BASHINI R</td>
            <td>CSE-5-A</td>
            <td>
                <div ng-app="myApp" class="pad"  ng-controller="myCtrl">

                    <select ng-model="selectedName" >
                        <option value="P">PRESENT</option>
                        <option value="A">ABSENT</option>
                    </select>
                    
                    </div>
            </td>
        </tr>
        
    </table>
    <button type="button" class="btn btn-success btn-lg btn-block" (click)="submitted()" style="font-size: 20px;font: 2em sans-serif;">SUBMIT</button>







</div>
<br>
</div>

