<app-header></app-header>
<div class="bg-img">
    <h1 style="font-size: 75px;color: whitesmoke;text-align: center;">Student Details</h1>
    <button class="btn btn-danger" routerLink="../studentreg" style="float: right;" (click)="loginpage()">Logout</button>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-12 form-group">
          <input type="text"
                 placeholder="DD/MM/YYYY"
                 class="form-control"
                 bsDatepicker>
        </div>
        <div class="col-xs-8 col-8 col-md-2 form-group">
            <button class="button" routerLink="../login"  (click)="login()">Display</button>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    








</div>

